<md-sidenav md-component-id="right"
            class="md-whiteframe-z2 md-sidenav-right">
    <md-toolbar>
        <md-toolbar class="md-blue" layout="row" layout-align="center center">
            <!--<img class="img-circle" ng-src="/img/icons/user.svg">-->
            <md-menu md-offset="0 20">
                <md-button class="capitalize" ng-click="$mdOpenMenu()" aria-label="Open menu">
                    <span>Richard Feynman</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="admin.dashboard">Admin Dashboard</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="admin.songs">Log out</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
    </md-toolbar>

    <section>
        <md-toolbar md-theme="grey" class="md-hue-1">
            <div class="md-toolbar-tools">
                <h3>Messages</h3>
            </div>
        </md-toolbar>
        <!--<div ng-include src="'/views/app/partials/messages.html'"/>-->
    </section>
</md-sidenav>