<!--Home Header-->
<ng-include src="'/views/app/home/home-partials/home-header.html'">
</ng-include>
<!--END Home Header-->

<!-- Song -->
<div layout="row" layout-wrap>
    <div flex="70" flex-offset="15">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <md-input-container>
                        <label><i class="material-icons">search</i></label>
                        <input type="text" ng-model="search.$">
                    </md-input-container>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ng-include src="'/views/app/partials/songs-list.html'">
                </ng-include>
            </md-card-content>

        </md-card>
    </div>
</div>
<!-- END Songs-->
